.form-container {
    /* max-width: 400px; */
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-right: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .job-form{
    margin-top: 30px;
  }
  
  .meeting-form {
    display: grid;
    grid-gap: 10px;
  }
  
  .form-group {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;

  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }

