@import url('https://fonts.googleapis.com/css?family=Montserrat:Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.ag-theme-alpine .ag-root {
  font-family: Montserrat, sans-serif;
}

.ag-theme-alpine .ag-header-cell {
  background-color: #f5f5f5;
  border-color: #ccc;
  font-size: 18px;
}

.ag-theme-alpine .ag-row-even {
  background-color: #f9f9f9;
}

.ag-theme-alpine .ag-row-odd {
  background-color: #ffffff;
}

.ag-root-wrapper {
  border: none !important;
}

.ag-theme-alpine .ag-cell{
  font-size: 17px;
}

body{
  font-family: "Montserrat";
}
.montserrat-heading{
  font-weight: 600;
  font-size: 40px;
  margin: 20px 60px;
  text-size-adjust: 100%;
}
.job-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.job-detail {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.job-detail-label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.job-detail-value {
  margin-left: 0.5rem;
}

.loading-message {
  padding: 1rem;
  text-align: center;
}